* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#b1{
    background-color: #96BB7C;
    color: white;
    border-radius: 5%;
    border-color: #96BB7C;
    height: 7vh;
    width: 10vw;
    font-size: large;
}
#b2{
    border-color: #96BB7C;
    color: #96BB7C;
    border-radius: 5%;
    background-color: white;
    height: 7vh;
    width: 10vw;
    font-size: large;
}
#navbar{
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.nav{
    color: #737373;
    margin-left: 2%;
    margin-right: 2%;
}
#brandname{
    margin-right: 5%;
    margin-left: 5%;
}
#login{
    color: #96BB7C;
    margin-left: 10%;
    margin-right: 3%;
}
#outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
.header{
    color: #96BB7C;
    padding: 2%;
}
#heading{
    color: #252B42;
    padding: 2%;
    font-size: xx-large;
}
.subh{
    color: #737373;
    padding: 2%;
    font-size: x-large;
    font-weight: 400;
}
.page2{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30vw;
}
.courses{
    height: 30vh;
    width: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 8vh;
    row-gap: 2vh;
}
.course{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    width: 30vh;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.page3{
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 20vw;
}
.person{
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5px;
}
.p{
    border-radius: 50%;
}
.end{
    height: 70vh;
    width: 100vw;
    color: white;
    background-color: #2D4059;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0%;
    row-gap: 5px;
}
.footer{
    height: 23vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer2{
    height: 7vh;
    width: 100vw;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
#input{
    height: 3vh;
    width: 50vw;
    border-top-left-radius: 4%;
    border-bottom-left-radius: 4%;
    padding: 2%;
}
#flex{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15vh;
    height: 5vh;
    width: 50vw;
}
#course_info{
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 8vh;
}
.c_i{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1vh;
    padding: 2%;
    height: 60vh;
    width: 15vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.i_align{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}